#loginform {
	text-align: center;
	margin: 20px auto;
}
#username, #email {
	width: 200px;
}
#login {
	margin-left: 10px
}
.page-header h1 {
	text-align: right;
}
#message {
	margin: 5px 0 5px 0; 
}
#time {
	float: right;
}
#send {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}
#users {
	position: absolute;
	top: 20px;
	left: 10px;
	padding: 0;
}
#users li {
	list-style: none;
	margin-top: 5px;
}